.main-container {
    position: relative;
}

.content {
    position: absolute;
    color: var(--erm--neutral-font-color1);
}

h1 {
    font-family: 'condensed' !important;
    font-size: 56px;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbs {
    position: absolute;
    bottom: 0;
    padding-left: 5%;

    ul {
        display: flex;
        list-style: none;
    }

    a {
        color: var(--erm--neutral-font-color1);
        text-decoration: none;
        cursor: pointer;
    }

    li {
        color: var(--erm-secondary-color-shade3);
    }
}

img {
    width: 100%;
    min-height: 120px;
}

@media (max-width: 767px) {
    h1 {
        font-size: 28px;
    }

    .breadcrumbs {
        bottom: -15px;
    }
}