<div class="consultancy-container">
    <div class="row" *ngFor="let item of data">
        <div class="col-lg-8 col-xl-8 col-sm-12 col-md-6 text-white content pt-5">
            <h3>{{item.title}}</h3>
            <div class="button">
                <button class="my-4" (click)="onClickContact()">{{item.button}}</button>
            </div>
            <br>
            <img class="img-fluid" src="https://erm-backend-deploy-production.up.railway.app/{{item.thumbnilTwo}}"
                alt="">
        </div>
        <div class="col-lg-4 col-xl-4 col-sm-12 col-md-6 image-container">
            <img class="img-fluid consultancy-img"
                src="https://erm-backend-deploy-production.up.railway.app/{{item.thumbnail}}" alt="">
            <div class="maquee-container p-2" *ngIf="marquee">
                <marquee class="" behavior="smooth" direction="right">
                    <div class="marquee-content">
                        <p class="ps-3 d-flex align-item-center mb-0" *ngFor="let value of item.lists">•<span
                                class="px-3"><strong>{{value.list_title}}</strong></span> </p>
                    </div>
                </marquee>
            </div>
        </div>
    </div>
</div>