<div class="main-container pt-4 pb-5" *ngIf="ethicsData">
    <div class="container">
        <div class="row">
            <h2>Our Ethics</h2>
        </div>
        <div class="row align-items-center ethicsData" *ngIf="ethicsData">
            <div class="col-lg-7 col-xl-7 col-md-7 col-sm-12">
                <div class="about-subheading">
                    <h3 class="mb-3">{{ethicsData[0].title}}</h3>
                    <div *ngFor="let item of ethicsData[0].lists">
                        <p>{{item.list_description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-5 col-md-5 col-sm-12" *ngIf="ethicsData[0].thumbnail">
                <img class="img-fluid" src="https://erm-backend-deploy-production.up.railway.app/{{ethicsData[0].thumbnail}}" alt="">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 col-xl-5 col-md-5 col-sm-12" *ngIf="ethicsData[1].thumbnail">
                <img class="img-fluid" src="https://erm-backend-deploy-production.up.railway.app/{{ethicsData[1].thumbnail}}" alt="">
            </div>
            <div class="col-lg-7 col-xl-7 col-md-7 col-sm-12">
                <div class="about-subheading">
                    <h3 class="mb-3">{{ethicsData[1].title}}</h3>
                    <div *ngFor="let item of ethicsData[1].lists">
                        <p>{{item.list_description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center ethicsData">
            <div class="col-lg-7 col-xl-7 col-md-7 col-sm-12">
                <div class="about-subheading">
                    <h3>{{ethicsData[2].title}}</h3>
                    <div *ngFor="let item of ethicsData[2].lists">
                        <p class=mb-1><span>{{item.list_title}}</span>{{item.list_description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-5 col-md-5 col-sm-12" *ngIf="ethicsData[2].thumbnail">
                <img class="img-fluid" src="https://erm-backend-deploy-production.up.railway.app/{{ethicsData[2].thumbnail}}" alt="">
            </div>
        </div>
    </div>
</div>