h2{
    font-family: 'condensed' !important;
    color: var(--erm-tertiary-color);
}

span{
    color: var(--erm-secondary-color);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
p{
   color: var(--erm-accent-font-color); 
   font-size: 19px;
}