<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="heading">
                <h2>ERM Commercial<br> Zone</h2>
                <div class="category-container">
                    <div *ngFor="let tab of mainTab"
                         [ngClass]="{'selected': selectedCategoryId === tab._id}"
                         (click)="onClickMainTab(tab._id)">
                        {{ tab.title }}
                    </div>
                    
                </div>
            </div>

            <ng-container *ngIf="TabData && TabData.length > 0; else noData">
                <div class="carousel">
                  <div *ngFor="let item of TabData" class="slide">
                    <div>
                      <h4>{{ item.title }}</h4>
                      <img class="img-fluid infographic py-3" src="https://erm-backend-deploy-production.up.railway.app/{{ item.thumbnilTwo }}" alt="">
                      <h3>{{ item.sub_title }}</h3>
                      <p>{{ item.sub_description }}</p>
                      <a class="button" (click)="onClickRoutes(item.button_link)">{{item.buttons}} &rarr;</a>
                    </div>
                    <div class="banner-carousel">
                      <img class="img-fluid cImage" loading="lazy" src="https://erm-backend-deploy-production.up.railway.app/{{ item.thumbnail }}" alt="">
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #noData>No data available for this category.</ng-template>
              
        </div>
    </div>
</div>

