.component-wrapper{
    background-color: #EDF2F4;
}
.sub{
    font-size: 18px;
    color: var(--erm-secondary-color);
}
.content{
    display: flex; 
    
    div{
        margin-right: 20px;
    }
}


@media (max-width: 550px){
    .content{
        overflow-x: scroll;
        flex-direction: column;
    }
}

p{
    color: var(--erm-accent-font-color); 
}

h2{
    font-family: 'condensed' !important;
    color: var(--erm-tertiary-color);
}

h4{
    font-family: 'condensed' !important;
    color: var(--erm-tertiary-color);
}

.curve{
    border-radius: 30px;
}