<header>
    <div class="main-nav">
        <div class="first-nav">
            <a routerLink="/home"><img class="img-fluid" src="images/logo.svg" alt="logo"></a>
        </div>
        <div class="sidenav">
            <ul>
                <li class="navbar">
                    <a routerLink="/aboutus" class="dropdown-trigger d-flex align-items-center">About Us 
                        <img class="chevron-img ms-2" src="images/icons/chevron.svg" alt=""></a>
                    <div class="dropdown">
                        <a routerLink="/history-milestone">Our History and Milestones</a>
                        <!-- <a routerLink="/team">Our Teams</a> -->
                        <a routerLink="/career">Careers</a>
                    </div>
                </li>
                <li class="navbar">
                    <a routerLink="/mining" class="dropdown-trigger d-flex align-items-center">Mining <img class="chevron-img ms-2" src="images/icons/chevron.svg" alt=""></a>
                    <div class="dropdown">
                        <a routerLink="/mining/john-mines">John Mine</a>
                        <a routerLink="/mining/navvulatti-mine">Navvulatti Mine</a>
                        <a routerLink="/mining/ramajjanahalli-mines">Ramajjanahalli Mines</a>
                    </div>
                </li>
                <li class="navbar">
                    <a routerLink="/companies" class="dropdown-trigger d-flex align-items-center">Companies <img class="chevron-img ms-2" src="images/icons/chevron.svg" alt=""></a>
                    <div class="dropdown">
                        <a routerLink="/companies/prakash-sponge-iron-and-power-pvt-ltd">PRAKASH SPONGE IRON AND POWER</a>
                        <a routerLink="/companies/e-ramamurthy-minerals-and-metals-pvt-ltd">E. RAMAMURTHY MINERALS AND METALS </a>
                        <a routerLink="/companies/beneka-minerals-trading-pvt-ltd">BENEKA MINERALS TRADING </a>
                        <a routerLink="/companies/codeland-infosolution-pvt-ltd">CODELAND INFOSOLUTIONS</a>
                    </div>
                    </li>
                <li class="navbar" routerLink="awards">Awards</li>
                <li class="navbar" >
                    <a routerLink="/csr" class="dropdown-trigger d-flex align-items-center">CSR <img class="chevron-img ms-2" src="images/icons/chevron.svg" alt=""></a>
                    <div class="dropdown">
                        <a routerLink="/reports">Reports</a>
                    </div>
                </li>
                <li class="navbar" routerLink="/contact">Contact Us</li>
            </ul>
        </div>
        <div>
            <img class="img-fluid me-2" src="images/common/b-linkedin.svg" alt="linkedin">
            <img class="img-fluid me-2" src="images/common/b-facebook.svg" alt="facebook">
            <img class="img-fluid" src="images/common/b-x.svg" alt="x">
        </div>
    </div>
</header>