<header>
    <div class="main-nav">
        <div class="first-nav">
            <a routerLink="/home"><img class="img-fluid" src="images/logo.svg" alt="logo"></a>
        </div>
        <div class="sidenav">
            <ul>
                <li class="navbar" (mouseleave)="closeDropdown()" (mouseenter)="openDropdown()">
                    <a routerLink="/aboutus" class="dropdown-trigger d-flex align-items-center"  (click)="toggleDropdown()">About Us
                        <img class="chevron-img ms-2" src="images/icons/chevron.svg" alt=""></a>
                    <div class="dropdown" *ngIf="isDropdownOpen">
                        <a routerLink="/history-milestone" (click)="closeDropdown()">Our History and Milestones</a>
                        <a routerLink="/career" (click)="closeDropdown()">Careers</a>
                    </div>
                </li>
                <li class="navbar" (mouseleave)="closeDropdown()" (mouseenter)="openDropdown()">
                    <a routerLink="/mining" class="dropdown-trigger d-flex align-items-center" (click)="toggleDropdown()"> Mining
                        <img class="chevron-img ms-2" src="images/icons/chevron.svg" alt="">
                    </a>
                    <div class="dropdown" *ngIf="isDropdownOpen">
                        <div *ngFor="let data of miningData">
                            <a [routerLink]="['/mining', data?.url || '']" (click)="closeDropdown()">
                                {{ data?.name || 'Unnamed' }}
                            </a>
                        </div>
                    </div>
                </li>
                <li class="navbar" (mouseleave)="closeDropdown()" (mouseenter)="openDropdown()">
                    <a routerLink="/companies" class="dropdown-trigger d-flex align-items-center" (click)="toggleDropdown()">Companies 
                        <img class="chevron-img ms-2" src="images/icons/chevron.svg" alt=""></a>
                        <div class="dropdown" *ngIf="isDropdownOpen">
                            <div *ngFor="let data of companyData">
                                <a 
                                    [routerLink]="['/companies', data?.url || '']" 
                                    (click)="closeDropdown()">
                                    {{ data?.name || 'Unnamed' }}
                                </a>
                            </div>
                        </div>
                </li>
                <li class="navbar" routerLink="awards">Awards</li>
                <li class="navbar" (mouseleave)="closeDropdown()" (mouseenter)="openDropdown()">
                    <a routerLink="/csr" class="dropdown-trigger d-flex align-items-center" (click)="toggleDropdown()">CSR <img
                            class="chevron-img ms-2" src="images/icons/chevron.svg" alt=""></a>
                    <div class="dropdown"  *ngIf="isDropdownOpen">
                        <a routerLink="/reports" (click)="closeDropdown()">Reports</a>
                    </div>
                </li>
                <li class="navbar" routerLink="/contact-us">Contact Us</li>
            </ul>
        </div>
        <div>
            <img class="img-fluid me-2" src="images/common/b-linkedin.svg" alt="linkedin">
            <img class="img-fluid me-2" src="images/common/b-facebook.svg" alt="facebook">
            <img class="img-fluid" src="images/common/b-x.svg" alt="x">
        </div>
    </div>
</header>