h2 {
    font-family: 'condensed' !important;
    color: var(--erm-tertiary-color);
}

h1 {
    font-family: 'condensed' !important;
}

.accomplishment {
    display: flex;
    background-color: var(--erm-secondary-color-shade1);
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
}

.awards {
    color: var(--erm--neutral-font-color1);
    width: 45%;
    padding: 5% 3%;
}

.accomplishment-container ::ng-deep .slick-dots {
    text-align: left;
    margin-left: 18%;
    bottom: 10px;
}

.union-img {
    position: relative;
}

.text {
    position: absolute;
    width: 300px;
    top: 35%;
}

@media (max-width: 991px) {
    .union-img {
        display: none;
    }

    .accomplishment {
        flex-direction: column-reverse;
    }

    .awards {
        width: 100%;
    }

    .text {
        position: initial;
        width: auto;
    }

    .text span {
        display: none;
    }

    .accomplishment-container ::ng-deep .slick-dots {
        text-align: center;
        margin-left: auto;
    }

    .accomplishment-container ::ng-deep .slick-list {
        background-color: var(--erm-secondary-color-shade1);
        border-radius: 20px;
    }
}

@media (min-width:992px) and (max-width: 1200px) {
    .text {
        width: 260px;
    }

    .union-img {
        display: none;
    }
}