h2 {
    font-family: 'condensed' !important;
    color: var(--erm-tertiary-color);
}

h1 {
    font-family: 'condensed' !important;
}

.accomplishment {
    display: flex;
    background-color: var(--erm-secondary-color-shade1);
    border-radius: 20px;
    overflow: hidden;
    margin: 0 10px;
}

.awards {
    color: var(--erm--neutral-font-color1);
    width: 45%;
    padding: 3%;
}

.main-img {
    height: 100%;
}

.accomplishment-container ::ng-deep .slick-dots {
    text-align: left;
    margin-left: 18%;
    bottom: 10px;
}

.text {
    width: 300px;
    top: 50%;
}

.accomplishment-container  ::ng-deep .slick-dotted.slick-slider {
    margin-bottom: 0;
}

.accomplishment-container  ::ng-deep .slick-dots li.slick-active button:before {
    opacity: 1;
    color: var(--erm--neutral-font-color1);
}

.accomplishment-container  ::ng-deep .slick-dots li button:before {
    font-size: 12px;
    color: rgba(217, 217, 217, 1);
}


@media (max-width: 991px) {

    .accomplishment {
        flex-direction: column-reverse;
        margin: 0;
    }

    .awards {
        width: 100%;
    }

    .text {
        position: initial;
        width: auto;
        margin-bottom: 30px;
    }

    .text span {
        display: none;
    }

    .accomplishment-container ::ng-deep .slick-dots {
        text-align: center;
        margin-left: auto;
    }

    .accomplishment-container ::ng-deep .slick-list {
        background-color: var(--erm-secondary-color-shade1);
        border-radius: 20px;
    }
}

@media (min-width:992px) and (max-width: 1200px) {
    .text {
        width: 230px;
    }

    .union-img {
        display: none;
    }

    h1 {
        font-size: 35px;
    }

    h4 {
        font-size: 35px;
    }
}