<div class="main-container py-4" *ngIf="urlId">
    <div class="container">
      <div class="row">
        <h1 class="text-center">{{ urlId.page_title }}</h1>
        <div class="breadcrumbs py-4">
          <ul class="p-0">
            <li><a class="px-2" routerLink="/home">Home</a>/</li>
            <li><a class="px-2" routerLink="/companies">Our Companies</a>/</li>
            <li class="company px-2">{{ urlId?.page_title }}</li>
          </ul>
          <hr />
        </div>
      </div>
    </div>
  </div>
  