<div class="main-container my-5 py-4" *ngIf="impactData">
    <div class="container">
        <div class="row">
            <h2>Our Impact in Numbers</h2>
            <div class="content col-xl-10 col-lg-10 col-md-10 col-sm-12 m-auto mt-3">
                <div *ngFor="let item of impactData">
                    <div class="img-container">
                        <img class="img-fluid m-3" src="https://erm-backend-deploy-production.up.railway.app/{{item.thumbnail}}" alt="imapct-img">
                    </div>
                    <h4>{{item.title}}</h4>
                    <p>{{item.number}}</p>
                </div>
            </div>
        </div>
    </div>
</div>