<div class="main-container py-5">
    <div class="container">
        <div class="row">
            <h2>Corporate Social<br> Reponsibility</h2>
        </div>
    </div>
    <div class="carousel-container">
        <ngx-slick-carousel class="carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let item of responsibility" class="slide">
                <div class="content">
                    <img class="img-fluid main-img" src="https://erm-backend-deploy-production.up.railway.app/{{item.thumbnail}}" alt="">
                    <div class="overlay">
                        <div class="overlay-img">
                            <img class="img-fluid" src="https://erm-backend-deploy-production.up.railway.app/{{item.thumbnilTwo}}" alt="">
                        </div>
                        <div>
                            <h3>{{item.title}}</h3>
                        </div>
                        <div class="itemLink">
                            <a (click)="onClickRoutes(item.link)">{{ item.button }} &nbsp;&rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>