footer{
    background-color: var(--erm--neutral-font-color2);
    color: var(--erm--neutral-font-color1);
}
hr{
    border-bottom: 1px solid var(--erm--neutral-font-color1);
    opacity: 1;
}
h4{
    font-weight: 600;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

.social-media-container img{
    height: 30px;
}