<div class="main-container py-4" *ngIf="filtercsrHighlight">
    <div class="container">
        <div class="row">
            <h2>{{filtercsrHighlight.title}}</h2>
            <div class="col-xl-10 col-lg-10 col-sm-12 col-md-12 m-auto content mt-4">
                <div class="highlights" *ngFor="let item of filtercsrHighlight.lists; let i=index">
                    <div>
                        <h3>{{item.list_title}}</h3>
                        <p>{{item.list_description}}</p>
                    </div>
                    <div class="line" *ngIf="i < filtercsrHighlight.lists.length -1 "></div>
                </div>
            </div>
        </div>
    </div>
</div>